<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restaurant Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <div class="container" style='max-width: 600px'>
  <button class="btn btn-primary mt-5" onclick="window.history.back();">Back</button>
    <h2 class="mt-5 mb-3">Restaurant Entry Form to ES</h2>
    <form id="submissionForm" style="margin-bottom: 30px">
        <div class="form-group">
            <input type="text" class="form-control" id="type" placeholder="Type of restaurant" value="Restaurant" readonly="readonly">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="source" placeholder="Source of data">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Restaurant Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="description" placeholder="Restaurant Description">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="address" placeholder="Restaurant Address">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="typeFood" placeholder="Type of Food LV">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="priceRangeMin" placeholder="Price Range Min">
        </div>
      <div class="form-group">
            <input type="number" class="form-control" id="priceRangeMax" placeholder="Price Range Max">
        </div>
        <button type="submit" class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto;">Submit</button>
    </form>
  </div>
    <script>
        $('#submissionForm').on('submit', function(e) {
            e.preventDefault();
          
            var formData = {
              category: $('#type').val(),
              source: $('#source').val(),
              name: $('#name').val(),
              description: $('#description').val(),
              address: $('#address').val(),
              typeFood: $('#typeFood').val(),
              priceRangeMin: $('#priceRangeMin').val(),
              priceRangeMax: $('#priceRangeMax').val()
            };
            $.ajax({
                type: 'POST',
                url: '/process/doc',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function() {
                    alert('Form submission successful');
                },
                error: function() {
                    alert('There was an error with the form submission');
                }
            });
        });
    </script>
</body>
</html>