<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
  <button class="btn btn-primary mt-5" onclick="window.history.back();">Back</button>
    <h1 class="mt-5">Clowie AI Tools</h1>
  <ul class="list-group mt-5 mb-5">
    <li class="list-group-item"><a href="/view/process-url">Clowie AI Website Feeder</a></li>
    <li class="list-group-item"><a href="/view/process-text">Clowie AI Text Feeder</a></li>
    <li class="list-group-item"><a href="/view/es/delete">Delete ES document</a></li>
    <li class="list-group-item"><a href="/view/es/query-ranker">ES Query ranker</a></li>
    <li class="list-group-item"><a href="/view/overall-query">Overall Query with OpenAI</a></li>
    <li class="list-group-item"><a href="/entry_doc_row">Doc Entry</a></li>
    <li class="list-group-item"><a href="/main">Home</a></li>
   </ul>
  </div>
</body>
</html>
